* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#nav-list {
  height: 4rem;
  background-color: hsl(225, 0%, 10%);
  position: fixed;
  width: 100%;
  font-size: 22px;
  padding-top: 5px;
}

nav {
  float: right;
  padding: 1%;
  overflow: hidden;
}

nav li {
  display: inline-block;
  list-style: none;
  padding-right: 1.5em;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to bottom right, hsl(225, 75%, 30%), hsl(120, 75%, 30%));
  color: white;
  line-height: 2;
  font-size: 22px;
}

#welcome-text {
  max-width: 45rem;
  background-color: hsl(225, 0%, 10%);
  padding: 2em;
  box-shadow: 0 2.5rem 4rem rgb(0 0 0 / .3);
}

#projects {
  background-image: linear-gradient(to bottom left, hsl(120, 75%, 30%), hsl(225, 75%, 30%));
  max-height: 600rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects header {
  color: white;
  padding: 1.5rem 2.5rem;
  margin: 3rem;
  background-color: hsl(225, 0%, 10%);
  box-shadow: 0 2.5rem 4rem rgb(0 0 0 / .3);
}

.projects-grid {
}

.project-tile {
  float: left;
  margin: 1em;
  padding-bottom: 3px;
  background-color: hsl(225, 0%, 10%);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2.5rem 4rem rgb(0 0 0 / .3);
}

.project-tile img {
  aspect-ratio: 1.7 / 1;
  width: 100%;
  height: 100%;
  max-height: 345px;
  max-width: 600px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.project-tile a {
  color: white;
  text-decoration: none;
  line-height: 2.5;
}

#more-projects {
  padding: .5rem 1.5rem;
  margin: 4rem 1rem;
  background-color: hsl(225, 0%, 10%);
  box-shadow: 0 2.5rem 4rem rgb(0 0 0 / .3);
}

#more-projects a {
  color: white;
  text-decoration: none;
  line-height: 2.5;
}

#contact-info {
  background-color: hsl(225, 0%, 10%);
  padding: 10rem 0;
  max-height: 40rem;
  display: inline-block;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  align-content: center;
}

#contact-info a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.fa:hover {
  opacity: 0.7;
}

footer {
  background-color: hsl(225, 0%, 10%);
  text-align: right;
  color: white;
  padding: 1.25rem;
}

footer a {
  color: white;
}

@media max-width: 450px {
  .container {
    display: block;
  }
}
